@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 2.5em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.desktop{
    display: flex;
    margin-top: 1.5em;

}

.index {
    display: flex;
    justify-content: space-around;
    background: lightgray;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

.index a {
    color: dimgrey;
    text-decoration: none;
    margin: 1vh;
    font-size: 1.5vw;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    flex-direction: row;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.annonce {
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}
form label, table{
    font-size: 1.5vw;
}

form input{
    display: block;
    margin: 0.5em;

}

form input[type=text], form input[type=number] {
    width: 80%;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;

}

table {
    width: 100%;
    border-spacing: 10px;
}

thead th {
    border-bottom: 1px black solid;
}

tbody, tfoot {
    text-align: right;
}

tbody td {
    width: 50%;
}

tfoot td {
    border-top: black 2px solid;
}

@media (min-width: 1200px) {

    .pages {
        margin-top: 0;
    }

    .inkpen {
        align-self: end;
    }

    .empty-whisky {
        display: none;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .inkpen,.empty-whisky {
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .inkpen,.whisky {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .desktop {
        justify-content: center;
    }

    .inkpen,.glasses{
        display: none;
    }

    .pages {
        flex-basis: 100%;
    }

    table {
        border-spacing: 5px;
    }

}

@media (max-width: 799px) {

    .container {
        display: flex;
    }
    .desktop {
        display: initial;
        flex-grow:2;
        justify-content: center;
        margin:0;
    }

    .index {
        flex-wrap: wrap;
        flex-direction: column;
        order: 2;
        margin-right: 2px;
        width: 5vw;
    }

    .index a {
        font-size: 4vw;

    }

    .annonce {
        font-size: 4vw;
    }

    .inkpen,.glasses{
        display: none;
    }

    .pages {
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-left: 0;
    }

    .page {
        width: 100%;
    }

    .rightpage {
        order: -1;
    }

    table {
        border-spacing: 3px;
    }


    form label, table {
        font-size: 5vw;
    }


}